/* regole principali */

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#list-container{
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
    padding: 15px;
}

#container{
    width: 40%;
    margin: 0 auto;
}

#box-container{
    text-align: center;
    margin: 20px 0;
}

form{
    margin: 35px 0;
}

ul {
    list-style-type: none;
    margin: 20px 0;
}

ul li {
    padding: 15px 10px;
    border-bottom: 1px solid rgb(173, 173, 173);
}

li a {
    text-decoration: none;
    color: black;
}

.flex-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-xmark{
    font-size:large;
}

/* permette di discriminare gli elementi della lista che hanno proprietà "done: true" da "done: flase"; 
se "done: true" allora si applica la classe, che trasforma il testo in barrato */
.crossed{
    text-decoration: line-through;
}

/* proprietà del messaggio di errore */
#error{
    padding: 10px;
    margin: 10px 0;
    color: red;
}